/* --Warranty Page---*/
#mcontent75 {
    background-image: url('bgimages/warranty.jpg');
  }

#mcontent85 {
    background-image: url('bgimages/raindrops.png');
}

/* --Faq Page---*/
#mcontent80 {
  background-image: url('bgimages/faq2.jpg');
}