/*Comment- This is the begining of Charles CSS*/
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", cursive; 
}

#emerservice2 {
  background-color: #46b6f6; 
}

#emerservice {
  color: white; 
}

#emerservice {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px; 
}

#emerservice:hover {
  color: red;
  /*Comment- This is rollover color for nav at bottom of page*/
  text-decoration: none;
  /*Comment- This removes the underline hyperlink*/ 
}

#bglogocolor {
  background-color: white; 
}

#topmainlogo {
  float: right; 
}

#freeestimate {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px; 
}

#freeestimate2 {
  font-size: 14px;
  font-weight: bold;
  padding: 10px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

#freeestimate3 {
  text-align: center;
  right: 300px;
  width: 300px;
  padding: 10px;
  margin: auto;
}

#socialMedia {
  padding: 10px;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: auto; 
}

#socialbutton {
  padding: 10px;
  text-align: center; 
}

#socialicons {
  margin: 5px;
}

#search {
  margin-top: 1px;
  width: 400px; 
  margin-left: auto;
}

#mainnavbar {
  background-color: black;
}

